<div class="mt-3 col-3">
    <select class="form-select" [(ngModel)]="select">
        <option>Gujrat</option>
        <option>Dehradun</option>
        <option>Ahemdabad</option>
        <option>other</option>
    </select>
</div>
<div>
    @if(select=='other')
    {
    <input type="text" class="form-control" placeholder="other value here">
    }
</div>

<div class="row">
    <div class="col-4">
        <!-- {{isStudentActive()}} -->
        @if(isStudentActive())
        {
        <span class="text-success"> Student is Active</span>
        }
        @else{
        <span class="text-danger"> Student is De-Active</span>
        }
    </div>
    <div class="col-4">
        <button class="btn btn-success" (click)="changeStatus(true)">Make Active</button>
        <button class="btn btn-success" (click)="changeStatus(false)">Make DeActive</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            <li>
                @for(item of cityList; track $index)
                {
            <li>{{item}}</li>
            }
            </li>
        </ul>
        <div class="col-3">
            @for(item of cityList; track $index)
            {
            <textarea [value]="item"></textarea>
            }
            <!-- property binding  -->
        </div>
    </div>
</div>