<!-- <p>photos works!</p> -->
<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header bg-warning">photos List</div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Title</th>
              <th>Url</th>
              <th>Thumbnail</th>
            </tr>
          </thead>
          <tbody>
            @for(item of photosList; track $index){
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.url }}</td>
              <td>{{ item.thumbnailUrl }}</td>
              <td>
                <button class="btn btn-sm btn-success" (click)="onEdit(item)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="onDelete(item.id)">Delete</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header bg-warning">photos List</div>
      <div class="card-body">
        <form>
          {{ newPhoto.id }}
          <div class="row">
            <!-- <div class="col-6">
                            <label>Album Id </label>
                            <input type="text" name="albumId" [(ngModel)]="newPhoto.albumId" class="form-control">
                        </div> -->

            <div class="col-6">
              <label>Title </label>
              <input
                type="text"
                name="title"
                required
                minlength="5"
                #titleTem="ngModel"
                [(ngModel)]="newPhoto.title"
                class="form-control"
              />
              <div class="text-danger">
                <!-- {{titleTem.errors|json}} -->
                @if(titleTem.touched || titleTem.dirty) { @if(titleTem.errors?.['required']) {
                <span> This is required </span>
                }@if(titleTem.errors?.['minlength']) {
                <span> Minimum 5 char required </span>
                } }
              </div>
            </div>
            <div class="col-6">
              <label>URL </label>
              <input
                type="text"
                name="url"
                required
                minlength="20"
                #urlTem="ngModel"
                [(ngModel)]="newPhoto.url"
                class="form-control"
              />
              <div class="text-danger">
                <!-- {{urlTem.errors|json}} -->
                @if(urlTem.touched || urlTem.dirty) { @if(urlTem.errors?.['required']) {
                <span> This is required </span>
                } @if(urlTem.errors?.['minlength']) {
                <span> Minimum 20 char required </span>
                } }
              </div>
            </div>
            <div class="col-6">
              <label>Thumbnail </label>
              <input
                type="text"
                name="thumbnailUrl"
                required
                minlength="20"
                #thumbnailTem="ngModel"
                [(ngModel)]="newPhoto.thumbnailUrl"
                class="form-control"
              />
              <div class="text-danger">
                @if(thumbnailTem.touched ||thumbnailTem.dirty) {
                @if(thumbnailTem.errors?.['required']) {
                <span>This field is required</span>
                } @if(thumbnailTem.errors?.['minlength']) {
                <span>20 characters are Minimum required</span>
                } }
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <div class="btn btn-secondary">Reset</div>
            </div>
            <div class="col-6 text-center">
              @if(newPhoto.id==0) {
              <button class="btn btn-success" (click)="onSavePhoto()">Save</button>
              } @else{
              <button class="btn btn-success" (click)="onUpdatePhoto()">Update</button>
              <!-- now for updation another api call will be required -->
              }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
